<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">

        <!-- Pantalla de carga: actividad principal al iniciar la app -->
        <activity
            android:name=".PantallaCarga"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Taller4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad principal que contiene los fragmentos de lista y detalles -->
        <activity
            android:name=".ui.ActividadPrincipal"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Taller4">
        </activity>

        <!-- Pantalla de inicio auxiliar -->
        <activity
            android:name=".PantallaInicio"
            android:exported="false"
            android:label="@string/app_name">
        </activity>

        <!-- Widget Provider -->
        <receiver android:name=".widget.MyAppWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>

    </application>

</manifest>
